extends layout

block content
  a(href='/')
    p Home

  h1 POKEMONS POKEPOKE
  div(class='hab-img-changer__btn hab-img-changer__btn--start') START
  div(class='hab-img-changer')
    h3 All pokemons must be <span class='hab-img-changer__poke-name'>...</span>!
    div(class='hab-img-changer__img-container')
      img(class='hab-img-changer__arrow' src='img/arrow.png')
      each letter in letters
        img(class='hab-img-changer__img-' + letter)

block scripts
  script(src='js/img-changer.js')