extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/auth/basic')
    p Basic auth
  a(href='/auth/digest')
    p Digest auth
  a(href='/img-changer')
    p Cache issues
  a(href='/puzzle')
    p CORS issues
